[Unit]
Description=Rag Bot Service
After=network.target

[Service]
User=root
WorkingDirectory=/usr/src/app/
ExecStart=/usr/src/app/venv/bin/python /usr/src/app/bot.py
Restart=always

[Install]
WantedBy=multi-user.target